{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Créer un compte</h1>
            
            {{ form_start(Inscription, {'attr': {'class': 'form-control mt-4'}}) }}
                {{ form_widget(Inscription) }}
                <button type="submit" class="btn btn-primary mt-3">S'inscrire</button>
            {{ form_end(Inscription) }}
            
            <p class="mt-3">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
        </div>
    </div>
</div>
{% endblock %}
