{% extends 'base.html.twig' %}

{% block title %}Hello DeletePizzaController!{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/marin/projet_pizza/src/Controller/DeletePizzaController.php</code></li>
        <li>Your template at <code>C:/Users/marin/projet_pizza/templates/delete_pizza/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
