<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		<link rel="stylesheet" href="{{ asset('css/style.css')}}">
	</head>
	<body>
		<header>
			<div class="header-content">
				<h1 class="site-title">Pizza App</h1>
				<nav>
					<ul class="nav_container">
						<li><a href="{{ path("app_index") }}">Accueil</a></li>
						<li><a href="{{ path("app_add_pizza") }}">Nouvelle pizza</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
